.main-container {
    layout: grid;
    grid-size: 2;
    grid-gutter: 1;
    grid-rows: 85%;
    border: round $primary;
    overflow: auto auto;
    content-align: center middle;
}

.customer-data-container {
    overflow: auto auto;
    border: round $secondary;
    height: auto;
}

.contact-data-container {
    overflow: auto auto;
    border: round $secondary;
    height: auto;
}

.buttons-container {
    column-span: 2;
    layout: horizontal;
    align: center top;
    height: auto;
    width: 100%;
}

.form-button {
    width: auto;
    height: auto;
    margin: 0 2;
}