.contract-main-container {
    layout: grid;
    grid-size: 2;
    grid-columns: 2fr 1fr;
    grid-rows: 2fr 1fr 2fr 5;
    grid-gutter: 1;
    overflow: auto auto;
    border: round $primary;
}

#contracts-table {
    border: round $secondary;
    row-span: 3;
    height: 100%;
}

#contract-customer-table {
    border: round $secondary;
    height: 100%;
}

#contract-payment-progressbar {
    overflow: auto auto;
    border: round $secondary;
    height: auto;
    width: 100%;
    align: center middle;
}

#contract-event-table {
    border: round $secondary;
    height: 100%;
}

.contract-buttons-container {
    layout: grid;
    grid-size: 3;
    grid-gutter: 1;
    align: center middle;
    border: round $secondary;
    height: 5;
}

.customer-event-buttons-container {
    layout: grid;
    grid-size: 2;
    grid-gutter: 1;
    align: center middle;
    border: round $secondary;
    height: 5;
}