.customer-main-container {
    layout: grid;
    grid-size: 2;
    grid-columns: 2fr 1fr;
    grid-rows: 2fr 2fr 5;
    grid-gutter: 1;
    overflow: auto auto;
    border: round $primary;
}

#customers-table {
    border: round $secondary;
    row-span: 2;
    height: 100%;
}

#customer-contacts-table {
    border: round $secondary;
    height: 100%;
}

#contact-phone-numbers-table {
    border: round $secondary;
    height: 100%;
}

.customer-contact-buttons-container {
    layout: grid;
    grid-size: 4;
    grid-gutter: 1;
    align: center middle;
    border: round $secondary;
    height: 5;
}

.contact-buttons-container {
    layout: grid;
    grid-size: 3;
    grid-gutter: 1;
    align: center middle;
    border: round $secondary;
    height: 5;
}