.home-main-container {
    layout: vertical;
    align: center middle;
    border: round $primary;
    overflow: auto auto;
}

.welcome-user-label {
    border: round $secondary;
    width: 50%;
    height: auto;
    content-align: center middle;
}

.home-option-list {
    width: 50%;
    content-align: center middle;
    height: auto;
    border: round $primary;
}