.update-event-main-container {
    layout: grid;
    grid-size: 2;
    grid-gutter: 1;
    grid-rows: auto 20% 20% 20% auto;
    border: round $primary;
    overflow: auto auto;
}

.updating-event-static {
    column-span: 2;
    border: round $secondary;
    height: auto;
    content-align: center middle;
}

.update-event-data-input-container {
    row-span: 3;
    overflow: auto auto;
    border: round $secondary;
    height: 100%;
}

#event_description {
    height: auto;
    min-height: 25%;
}

.update-event-contract-input-container {
    overflow: auto auto;
    border: round $secondary;
    height: auto;
}

.update-event-location-input-container {
    overflow: auto auto;
    border: round $secondary;
    height: auto;
}

.update-event-support-representative-input-container {
    overflow: auto auto;
    border: round $secondary;
    height: auto;
}

.update-event-buttons-container {
    column-span: 2;
    layout: horizontal;
    align: center top;
    height: auto;
    width: 100%;
}

.update-event-button {
    width: auto;
    height: auto;
    margin: 0 2;
}