.update-location-main-container {
    layout: grid;
    grid-size: 1;
    grid-gutter: 1;
    grid-rows: auto;
    border: round $primary;
    overflow: auto auto;
    align: center middle;
}

.updating-location-static {
    border: round $secondary;
    height: auto;
    width: 50%;
    content-align: center middle;
}

.update-location-data-input-container {
    overflow: auto auto;
    border: round $secondary;
    height: auto;
    width: 50%;
}

.update-location-buttons-container {
    column-span: 2;
    layout: horizontal;
    align: center top;
    height: auto;
    width: 50%;
}

.update-location-button {
    width: auto;
    height: auto;
    margin: 0 2;
}