.update-contract-main-container {
    layout: grid;
    grid-size: 2;
    grid-gutter: 1;
    grid-rows: auto auto 5;
    border: round $primary;
    overflow: auto auto;
}

.updating-contract-static {
    column-span: 2;
    border: round $secondary;
    height: auto;
    content-align: center middle;
}

.update-contract-data-input-container {
    overflow: auto auto;
    border: round $secondary;
    height: auto;
}

.update-contract-customer-input-container {
    overflow: auto auto;
    border: round $secondary;
    height: auto;
}

.update-contract-buttons-container {
    column-span: 2;
    layout: horizontal;
    align: center top;
    height: auto;
    width: 100%;
}

.update-contract-button {
    width: auto;
    height: auto;
    margin: 0 2;
}